config samba
	option 'workgroup'		'WORKGROUP'
	#option 'name'			'OpenWrt'
	#option 'description'		'OpenWrt'
	#option 'homes'			'1'



#config sambashare
#	option 'name'			'tmp'
#	option 'path'			'/tmp'
#	option 'read_only'		'no'
#	option 'guest_ok'		'no'
#	option 'public'			'yes'
#	option 'browseable'		'yes'
#	option 'create_mask'		'0700'
#	option 'dir_mask'		'0700'
#	#list 'users_rw'		'user1'
#	#list 'users_rw'		'user2'
#	#list 'users_ro'		'user3'
#
#
