config samba
	option 'workgroup'		'Mshome'
	#option 'name'			'openwrt'
	#option 'description'	'openwrt'
	#option 'homes' 			'1'
		
#config sambashare
#	option 'name'			'tmp'
#	option 'path'			'/tmp'
#	option 'read_only'		'no'
#	option 'guest_ok'		'no'
#	option 'public'			'yes'
#	option 'browseable'		'yes'
#	option 'create_mask'	'0700'
#	option 'dir_mask'		'0700'
#	#option 'users'			'abc'
#
#
#config sambauser
#	option 'username'	'smbuser'
#	option 'password'	'smbpassword'


