config samba
	option 'name'			'openwrt'
	option 'workgroup'		'openwrt'
	option 'description'	'openwrt'
	option 'homes' 			'1'
		
config sambashare
	option 'name'			'tmp'
	option 'path'			'/tmp'
	option 'read_only'		'no'
	option 'guest_ok'		'no'
	option 'create_mask'	'0700'
	option 'dir_mask'		'0700'
	#option 'users'			'abc'
