[global]
	netbios name = |NAME| 
	workgroup = |WORKGROUP|
	server string = |DESCRIPTION|
	syslog = 10
	encrypt passwords = true
	passdb backend = smbpasswd
	obey pam restrictions = yes
	socket options = TCP_NODELAY SO_KEEPALIVE IPTOS_LOWDELAY
	unix charset = UTF-8
	preferred master = yes
	local master = yes
	domain master = yes
	os level = 20
	security = user
	null passwords = yes
	map to guest = Bad User
	guest account = root
	invalid users = root
	smb passwd file = /etc/samba/smbpasswd
	
