/*
  This Cascading Style Sheet is copyright © 2013 by BashfulBladder
  This page is part of the Horchata (horizontal charcoal theme) theme for Gargoyle web interface running on routers.
  This page has GPL portions & public domain portions.
*/

html {
	margin:0px; padding:0px; border:0px; background:#F4F4F4;
}

body {
	margin:0px; padding:0px; height:100%; border:0px; font-family:verdana, arial, sans-serif;
}
/*      ---------- below are css definitions under the GPL, copied (mostly) from the default theme  -----------      */
#darken
{
	top:0px;
	width:100%;
	height:100%;
	overflow:hidden;

	display:none;
	position:absolute;
	z-index:2000;
	opacity:0.75;
	
	background-image:-webkit-gradient(linear, center top, center bottom, color-stop(17%, #a3abbd), color-stop(100%, black));
	background-image:-webkit-linear-gradient(top, #a3abbd 17%, black 100%);
	background-image:-moz-linear-gradient(top, #a3abbd 17%, black 100%);
	background-image:-ms-linear-gradient(top, #a3abbd 17%, black 100%);
	background-image:-o-linear-gradient(top, #a3abbd 17%, black 100%);
	background-image:linear-gradient(to bottom, #a3abbd 17%, black 100%);
}
#wait_msg
{
	display:none;
	background:#F4F4F4;
	z-index:3000;
	position:fixed;
	width:300px;
	height:160px;
	
	-webkit-border-radius:10px;
	border-radius:10px;
}
#wait_icon
{
	left:114px;
	top:80px;
	position:absolute;
	display:block;
}
#wait_txt
{
	left:10px;
	top:20px;
	width:280px;
	position:relative;
	display:block;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	padding-bottom:20px;
}
.select_free
{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:2000px;
	height:3500px;
}

/*      ---------- above are css definitions under the GPL, copied (mostly) from the default theme  -----------      */
/*      ----------------------- below are public domain CSS definitions from Horchata  ------------------------      */
.unselected_submenu_container { }
#nav_internal_container2 #selected_header_link { color:#fff; }
#nav_internal_container2 #selected_header_link:hover { color:#fff; }

#outer_logo { position:absolute; left:0; right:0; top:0; height:34px;
	background:#797979;
	background:-moz-linear-gradient(top, #454545, #868d9c);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#868d9c));
}
#inner_logo { }
#inner_logo:hover #garg_desc { visibility:visible; }
#garg_title { position:absolute; display:block; top:3px; left:8px; color:transparent; width:230.4px; height:59px; background-image: 
        url("data:image/svg+xml;utf8, <svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='230.4px' height='59px' viewBox='0 0 230.4 59' enable-background='new 0 0 230.4 59' xml:space='preserve'> <path fill='%23E6E7E8' d='M20.6,4.2c3.4,0,5.6,0.7,7.4,1.3c1.3,0.4,2.4,0.8,3.7,0.8c1,0,2-0.9,2.8-2.1H37l-3.4,12.9h-2.4c0.1-1.1,0.1-1.9,0.1-2.6 c0-1-0.1-1.7-0.4-2.7C30,8.7,24.7,6.9,20.7,6.9C9.2,6.9,6.5,16.2,6.5,24.3c0,7.7,3.7,16.9,14,16.9c4.3,0,7.9-1,10.1-2.9l-0.3-7.4 c-0.2-4-1.2-4.2-6.3-4.5v-2.2h14.4v2.2c-2.1,0.4-2.6,0.5-2.8,4.5l-1.1,22.6h-3.2l-0.6-11.3c-2.7,1.3-6.5,2.1-10.3,2.1 c-13.2,0-20-9.9-20-20C0.4,14.2,7,4.2,20.6,4.2z'/> <path fill='%23E6E7E8' stroke='%23E6E7E8' stroke-width='0.5' stroke-miterlimit='10' d='M38.5,41.9c3.1-0.5,3-0.6,2.9-2.5l0-2.1 c-0.2-15.7,3.1-20,11.5-25.5h0c8.4,5.6,11.5,10,11.3,25.5l0,2c0,2,0.1,2.1,3.1,2.6v1.7h-11v-1.7c3.5-0.4,3.7-0.6,3.7-4V33H45.7v4.8 c0,3.5,0.1,3.6,3.7,4v1.7H38.5V41.9z M60,30.8c0-6.7-1.5-10.6-7.1-16.2c-5.6,5.6-6.9,9.5-7.2,16.2H60z'/> <path fill='%23E6E7E8' stroke='%23E6E7E8' stroke-width='0.5' stroke-miterlimit='10' d='M68.6,41.9l0.7-0.1c2.3-0.3,2.8-0.4,2.8-3.6V18 c0-2.6-0.3-3.1-3.5-3.3v-1.7h5.2c2.5,0,5.3-0.4,7.9-0.4c7.6,0,11.1,3.9,11.1,8.7c0,3.4-2.1,7.6-7.4,9.4l13.6,18.7l-1.5,1.1 L79.9,30.8l0.9-1.8h1.5c2.9,0,5.9-2.5,5.9-7.6c0-3.5-1.3-6.7-6.5-6.7c-5,0-5.6,1.9-5.6,4.1v19.5c0,3.1,0.4,3.2,3.9,3.5l1.1,0.1v1.7 H68.6V41.9z'/> <path fill='%23E6E7E8' d='M107.5,55.1c7.5,0,9.6-6.4,9.6-12.7v-1.7c-2.1,2.2-4.7,3.5-7.9,3.5c-9,0-13.2-7.5-13.2-15.5c0-8.2,4.6-16.2,14.6-16.2 c1.7,0,3.6,0.1,5.3,0.3c1.5,0.1,3,0.2,4.2,0.2h6.6V15c-4,0.3-4.4,1-4.4,4.2v23c0,8.2-4.9,16.2-14.2,16.2c-2.2,0-4.4-0.5-6.4-1.5 l1-2.7C104.1,54.8,105.8,55.1,107.5,55.1z M117.1,34.2V20.3c0-2.8-0.5-5.2-6.6-5.2c-6.8,0-8.7,6.3-8.7,13.5c0,6.1,1.2,12.7,7.6,12.7 C113.8,41.4,117.1,38.1,117.1,34.2z'/> <path fill='%23E6E7E8' d='M140.5,12.4c9.4,0,14.2,7.6,14.2,15.7c0,8.2-4.8,16.1-14.2,16.1c-9.5,0-14.2-8.1-14.2-16.1C126.3,20,131.1,12.4,140.5,12.4z M149.1,28.1c0-6.4-1.7-13-8.5-13s-8.5,6.9-8.5,13c0,6.1,1.6,13.3,8.5,13.3C147.4,41.4,149.1,34.3,149.1,28.1z'/> <path fill='%23E6E7E8' d='M158.6,20.6c0-4.6-0.5-5.2-3.5-5.5v-2.2h12.8v2.2l-0.6,0.1c-3,0.4-3.4,0.5-3.4,4.9V23c0,10.4,0.5,14.5,6.4,19.3 c4.1-2.5,7.8-6.3,7.8-13.4v-8.6c0-4.7-0.4-4.7-3.4-5.2l-0.6-0.1v-2.2h12.8v2.2l-0.1,0c-2.9,0.3-3.5,0.9-3.5,5.4v11.4 c0,13.5-2.9,24.4-17.1,26.6l-0.5-2.7c8.3-2,11.6-7.1,12.4-16.9c-1.8,2.8-4.5,5.3-8,7C161.7,41.5,158.6,35.9,158.6,20.6z'/> <path fill='%23E6E7E8' d='M187.5,41.5l0.9-0.1c2.9-0.4,3.5-0.6,3.5-4.5V6.3c0-3.9-0.5-4.2-4.4-4.5v-2.2h9.5v37.2c0,3.8,1,4,3.9,4.4l1.2,0.2v2.1h-14.7 V41.5z'/> <path fill='%23E6E7E8' stroke='%23E6E7E8' stroke-width='0.5' stroke-miterlimit='10' d='M217.1,12.5c2.8,0,4.2,0.6,5.5,1.1c0.9,0.3,1.7,0.6,2.7,0.6 c0.8,0,1.5-0.7,2.2-1.6h1.9l-2.7,10.6h-1.9c0.1-0.8,0.1-1.5,0.1-2.1c0-0.9-0.1-1.7-0.3-2.5c-0.8-2.5-4.2-3.9-7.4-3.9 c-6.3,0-9.2,5.6-9.8,12.5h12.9l-0.5,2.3h-12.4c0.2,5.7,4.2,12,11.2,12c3.4,0,7-1,9.5-3.8l1,1.3c-2.3,3.2-6.6,5-11.4,5 c-9.2,0-15-7-15-15C202.8,20.8,207.8,12.5,217.1,12.5z'/> </svg>"); z-index:10; }
#garg_desc { position:absolute; display:block; top:49px; left:9px; font-family:verdana, arial, sans-serif; font-style:italic; font-size:12px; color:#000; line-height:14px; visibility:hidden; z-index:10;}
#garg_desc br { display:none; }
#garg_host { position:absolute; display:block; top:10px; right:15px; font-family:verdana, arial, sans-serif; font-size:12px; color:#e0e0e0; }
	
#outer_container { position:absolute; display:block; top:34px; left:0; right:0; height:24px; margin:0; border:0; padding-bottom:6px;
	background:#a6a6b0;
	background:-moz-linear-gradient(top, #868d9c, #e0e0e0);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#868d9c), to(#e0e0e0));
	z-index:5;
}
#outer_footer { position:absolute; left:0; right:0px; top:64px; margin:0; height:1px; padding:0;
	background:#454545; z-index:-1;
}
#main_external_container { display:block; position:relative; top:31px; left:0;
}
#main_top {
	position:absolute; top:0; left:0; height:0; width:945px; background:#F4F4F4;
}
#main_bottom {
	position:relative; bottom:0; left:0; height:0; width:945px; background:#F4F4F4;
}
#main_internal_container {
	position:relative; display:block; margin-bottom:22px; top:25px; width:895px; padding:1.5em 1.5em 1em 2em; background:#F4F4F4; 	line-height:1.3em;
}
/* spacer for pages that end without buttons on bottom */
#main_internal_container:after {
	content:""; position:relative; display:inline; height:0; width:0; top:-80px; left:0;
    border-color:transparent #0f0;
    border-style:solid;
    border-width:0.35em 0 0.35em 0.45em;
    visibility:hidden;
}

#nav_external_container {
	position:absolute; display:block; top:0; left:0; bottom:0px;
}
#nav_top {
	position:absolute; width:100%; clear:both;
}
#nav_internal_container1 {
	position:absolute; display:inline-block; top:0px; left:245px; width:740px; clear:both;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1,
#nav_internal_container2 .nav_selected .nav_selected_container,
#nav_internal_container2 .nav_unselected_end1,
#nav_internal_container2 .nav_unselected_container {
	color:#42454a; padding:0 15px 4px 15px; text-decoration:none; border-bottom:none; display:block; cursor:pointer;
}
.selected_header,
.nav_selected_container a,
.nav_unselected_end1 a,
.nav_unselected_container a {
	color:#42454a; text-decoration:none;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover .selected_header {
	background:#505050; color:#f0f0f0; padding:0 15px 6px 15px; text-decoration:none;
}
#nav_internal_container2 .nav_selected .nav_selected_container:hover .selected_header {
	background:#505050; color:#f0f0f0; padding:0; text-decoration:none;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1,
#nav_internal_container2 .nav_selected .nav_selected_container,
#nav_internal_container2 .nav_unselected_end1,
#nav_internal_container2 .nav_unselected_container {
	position:relative; display:inline; float:left; width:113px; text-align:center; font-family:verdana, arial, sans-serif; font-size:18px;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1 #submenu_container,
#nav_internal_container2 .nav_selected .nav_selected_container #submenu_container,
#nav_internal_container2 .nav_unselected_end1 .unselected_submenu_container,
#nav_internal_container2 .nav_unselected_container .unselected_submenu_container {
	visibility:hidden;
	height:0;
	opacity:0;	
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1 #submenu_container a,
#nav_internal_container2 .nav_selected .nav_selected_container #submenu_container a,
#nav_internal_container2 .nav_unselected_container .unselected_submenu_container a,
#nav_internal_container2 .nav_unselected_end1 .unselected_submenu_container a,
.nav_unselected_container a {
	text-decoration:none;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover,
#nav_internal_container2 .nav_selected .nav_selected_container:hover,
#nav_internal_container2 .nav_unselected_end1:hover,
#nav_internal_container2 .nav_unselected_container:hover {
	background:#505050; color:#f0f0f0; padding:0 15px 6px 15px;
}
#nav_internal_container2 .nav_unselected_end1:hover a,
#nav_internal_container2 .nav_unselected_container:hover a {
	background:#505050; color:#f0f0f0;
}
#nav_internal_container2 .nav_unselected_container:hover .selected_header,
.nav_unselected_end1 a:hover,
.nav_unselected_container a:hover {
	background:#505050; color:#f0f0f0;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover #submenu_container,
#nav_internal_container2 .nav_selected .nav_selected_container:hover #submenu_container,
#nav_internal_container2 .nav_unselected_end1:hover .unselected_submenu_container,
#nav_internal_container2 .nav_unselected_container:hover .unselected_submenu_container {
	display:inline; position:absolute; top:28px; left:-1px; height:auto; width:220px; text-align:left; padding:11px 15px 8px 15px; line-height:30px; visibility:visible; opacity:0.85;
	
	border:1px solid #b7b7b7; border-top:none;
	border-radius:0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	/* gradient */
    background:#444;
	background:-moz-linear-gradient(center top, #444, #111) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover #submenu_container .submenu_selected,
#nav_internal_container2 .nav_selected .nav_selected_container:hover #submenu_container .submenu_selected {
	display:block; background:#111; color:#0f0; padding:0 0 0 4px;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover #submenu_container a,
#nav_internal_container2 .nav_selected .nav_selected_container:hover #submenu_container a,
#nav_internal_container2 .nav_unselected_end1:hover .unselected_submenu_container a,
#nav_internal_container2 .nav_unselected_container:hover .unselected_submenu_container a {
	display:block; background:#111; color:#f0f0f0; padding:0 12px;
}
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover #submenu_container a:hover,
#nav_internal_container2 .nav_selected .nav_selected_container:hover #submenu_container a:hover,
#nav_internal_container2 .nav_unselected_end1:hover .unselected_submenu_container a:hover,
#nav_internal_container2 .nav_unselected_container:hover .unselected_submenu_container a:hover {
	background:#444; color:#69f; pointer-events:auto; cursor:pointer; width:223px; margin:0 0 0 -15px; padding:0 0 0 27px;
}
#nav_internal_container2 .nav_selected .nav_selected_container .selected_header a:active,
#nav_internal_container2 .nav_unselected:active {
   pointer-events:none; cursor:default;
}

/* menu triangle selection indicator */
#nav_internal_container2 .nav_selected_end1 .nav_selected_container_end1:hover .submenu_selected:before,
#nav_internal_container2 .nav_selected .nav_selected_container:hover .submenu_selected:before {
    content:""; position:relative; display:inline-block; height:0; width:0; top:1px; left:-10px;
    border-color:transparent #0f0;
    border-style:solid;
    border-width:0.35em 0 0.35em 0.45em;
}
/* menu drop-down triangle indicator */
.selected_header:after,
.nav_unselected_end1 .nav_unselected a:after,
.nav_unselected_container .nav_unselected a:after {
	content:""; position:relative; display:inline-block; height:0; width:0; top:-5px; left:5px;
	border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #42454a;
    border-bottom:none;
}
/* accommodate last menu item as an active link; WARNING: relies on menu being 3rd to last div */
/* since nth-last doesn't work on classes, only types — 3nd style eliminates the drop-down menu  */
#nav_internal_container2 > *:nth-last-of-type(3) > div > a {
	cursor:auto; pointer-events:auto; cursor:pointer;
}
#nav_internal_container2 > *:nth-last-of-type(3) > div > a:after {
	display:none;
}
