
config 'global' 'global'

	option enabled			'0'
	option loglevel			'notice'
	option control_port		'9051'
	option data_dir			'/var/tor'

config 'client' 'client'

	#client_mode = 0, disabled
	#client_mode = 1, enabled for all hosts
	#client_mode = 2, enabled for hosts in enabled_ip_file
	#client_mode = 3, hidden service only mode
	option client_mode		'0'


	option trans_port		'9040'
	option dns_port			'9053'
	option hidden_service_subnet	'10.192.0.0'
	option hidden_service_mask_bits	'12'


	
	#option use_bridge_ip		'127.0.0.1'
	#option use_bridge_port		'9090'
	#option use_bridge_obfsproxy	'0'

	option block_unsupported_proto	'0'
	option zone			'lan'
	option enabled_ip_file		'/etc/tor.ips'

config 'relay' 'relay'
	
	#relay_mode = 0, disabled
	#relay_mode = 1, bridge
	#relay_mode = 2, relay
	#NOT CONFIGURABLE AS AN EXIT NODE

	option relay_mode	'0'
	option relay_port	'9090'
	option obfsproxy_port	'0'
	option zone		'wan'
	option relay_nickname	''
	option relay_contact	''
	option publish		'1'
	
	option max_bw_rate_kb	'500'
	#option max_bw_burst_kb	'1000'
	

