/*
 * This program is copyright © 2008 Eric Bishop and is distributed under the terms of the GNU GPL 
 * version 2.0 with a special clarification/exception that permits adapting the program to 
 * configure proprietary "back end" software provided that all modifications to the web interface
 * itself remain covered by the GPL. 
 * See http://gargoyle-router.com/faq.html#qfoss for more information
 */

legend
{
	font-family: verdana, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#888AB8;
}
fieldset
{
	width:500px;
	margin:10px;
	padding:10px;
	border:1px;
	border-style:solid;
	border-color:#888AB8;
	
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}
fieldset div
{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	clear:left;
}
	
fieldset input
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}
fieldset select
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}
fieldset label
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}



.leftcolumn
{
	display:block;
	float:left;
	width:200px;
	margin-left:5px;
	margin-right:5px;
}
.rightcolumn
{
	display:inline;
}
.rightcolumnonly
{
	display:block;
	margin-left:210px;
}
.rightcolumnindent
{
	display:inline;
	margin-left:25px;

}
.nocolumn
{
	margin-left:5px;
	margin-right:5px;
}
.narrowleftcolumn
{
	display:block;
	float:left;
	width:125px;
	margin-left:5px;
	margin-right:5px;
}
.widerightcolumnonly
{
	display:block;
	margin-left:135px;
}
.middlecolumn
{
	display:block;
	float:left;
	width:110px;
	margin-right:10px;
	margin-bottom:5px;
}

.indent
{
	display:block;
	margin-left:25px;
}

.internal_divider
{
	display:block;
	height:3px;
	width:175px;
	
	margin-bottom:20px;
	margin-top:20px;
	margin-left:5px;
	
	border-top:1px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;

	border-style:solid;
	border-color:#888AB8;
}

	
.bottom_gap
{
	margin-bottom:30px;
}

.code
{
	position:relative;
	display:block;
	margin-left:10px;
	width:475px;
	background: #ffeab3;
	border: 1px solid black;
	font-family: monospace;
	padding:5px;
}

p
{
	margin:1em 0px;
}

table
{
	border-spacing:0px;
	border-collapse: collapse
}

tr.table_row_add
{
	text-align:center;
}
tr.table_row_header
{
	border-bottom:1px solid black;
	text-align:center;
}
tr.table_row_header_disabled
{
	border-bottom:1px solid black;
	text-align:center;
}

tr.odd
{
	border:1px solid black;
	background-color: #C6D2FF;
}
tr.even
{
	border:1px solid black;
	background-color: #FFFFFF;
}
tr.disabled_odd
{
	border:1px solid black;
	color: #606060;
	background-color: #F0F0F0;
}
tr.disabled_even
{
	border:1px solid black;
	color: #606060;
	background-color: #FFFFFF;
}
th
{
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	font-weight:normal;
	font-style:italic;
}
td 
{
	padding-left:5px;
	padding-right:5px;
}


input.default_button
{
	text-align:center;
	background: #E8EDFF;
	border: 1px solid black;
	cursor: pointer;
}
input.default_button:hover
{
	background: #6b8aff;
	color: #FFFFFF;
}
input.default_button_disabled
{
	text-align:center;
	color: #808080;
	background: #F0F0F0;
	border: 1px solid #909090;
	cursor: auto;
}
input.default_button_disabled:hover
{
	text-align:center;
	color: #808080;
	background: #F0F0F0;
	border: 1px solid #909090;
	cursor: auto;
}


input.text_error
{
	color:#FF0000;
}
input.text_disabled
{
	color:#AAAAAA;
}
select.select_disabled
{
	color:#AAAAAA;
}


#bottom_button_container
{
	margin-top:10px;
	margin-left:10px;
}
#update_container
{
	margin-top:10px;
	margin-left:10px;
	display:none;
}
input.bottom_button
{
	width:200px;
	height:25px;
	background: #E8EDFF;
	border: 1px solid black;
	cursor: pointer;
	font-weight:bold;
}
input.bottom_button:hover
{
	background: #6b8aff;
	color: #FFFFFF;
}



#control_column_container
{
	position:relative;
	width:450px;
	height:100px;
}
#plot1_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:0px;
	width:150px;
	height:100px;
	margin-right:10px;
}
#plot2_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:150px;
	width:150px;
	height:100px;
	margin-right:10px;
}
#plot3_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:300px;
	width:150px;
	height:100px;
	margin-right:10px;
}
#plot1_title
{
	font-weight:bold;
	text-decoration:underline;
	color:blue;
}
#plot2_title
{
	font-weight:bold;
	text-decoration:underline;
	color:red;
}
#plot3_title
{
	font-weight:bold;
	text-decoration:underline;
	color:green;
}




.plot_header
{
	font-family: verdana, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#888AB8;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}


td.total_bandwidth_table_column_1
{
	text-align:right;
	border:1px solid black;
}
td.total_bandwidth_table_column_2
{
	text-align:right;
	border:1px solid black;
}
td.total_bandwidth_table_column_3
{
	text-align:right;
	border:1px solid black;
}






td.static_ip_table_column_1
{
	text-align:center;
	border-top:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
}
td.static_ip_table_column_2
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.static_ip_table_column_3
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.static_ip_table_column_4
{
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}







td.portf_table_column_1
{
	max-width:30px;
	text-align:center;
	border:1px solid black;
}
td.portf_table_column_2
{
	text-align:center;
	border:1px solid black;
}
td.portf_table_column_3
{
	text-align:center;
	border:1px solid black;
}
td.portf_table_column_4
{
	border:1px solid black;
}
td.portf_table_column_5
{
	text-align:center;
	border:1px solid black;
}
td.portf_table_column_6
{
	border:1px solid black;
}
td.portf_table_column_7
{
	border:1px solid black;
}

td.portf_range_table_column_1
{
	max-width:30px;
	text-align:center;
	border:1px solid black;
}
td.portf_range_table_column_2
{
	text-align:center;
	border:1px solid black;
}
td.portf_range_table_column_3
{
	text-align:center;
	border:1px solid black;
}
td.portf_range_table_column_4
{
	border:1px solid black;
}
td.portf_range_table_column_5
{
	text-align:center;
	border:1px solid black;
}
td.portf_range_table_column_6
{
	border:1px solid black;
}
td.portf_range_table_column_7
{
	border:1px solid black;
}




td.qos_class_table_column_1
{
	text-align:center;
	border-top:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
}
td.qos_class_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_class_table_column_3
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_class_table_column_4
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_class_table_column_5
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_class_table_column_6
{
	text-align:center;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}




td.qos_rule_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_rule_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_rule_table_column_3
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_rule_table_column_4
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_rule_table_column_5
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.qos_rule_table_column_6
{
	text-align:center;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}


td.ddns_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ddns_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ddns_table_column_3
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ddns_table_column_4
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ddns_table_column_5
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ddns_table_column_6
{
	text-align:center;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}


td.connection_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.connection_table_column_2
{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.connection_table_column_3
{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.connection_table_column_4
{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.connection_table_column_5
{
	text-align:left;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}



td.mac_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.mac_table_column_2
{
	text-align:left;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

td.ip_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.ip_table_column_2
{
	text-align:left;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

td.webmon_table_column_1
{
	text-align:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.webmon_table_column_2
{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.webmon_table_column_3
{
	text-align:left;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

/*
td.rule_applies_to_table (2 cells no dividers)
td.rule_remote_ip_table (2 cells no dividers)
td.rule_url_match_table (4 cells no dividers)
td.rule_restriction_table (4 cells no dividers)
*/
td.rule_applies_to_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_applies_to_table_column_2
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_remote_ip_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;

}
td.rule_remote_ip_table_column_2
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_url_match_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;

}
td.rule_url_match_table_column_2
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_url_match_table_column_3
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_url_match_table_column_4
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

td.rule_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_table_column_3
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.rule_table_column_4
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

td.exception_applies_to_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_applies_to_table_column_2
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_remote_ip_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;

}
td.exception_remote_ip_table_column_2
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_url_match_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;

}
td.exception_url_match_table_column_2
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_url_match_table_column_3
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_url_match_table_column_4
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

td.exception_table_column_1
{
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_table_column_3
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.exception_table_column_4
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}


td.quota_table_column_1
{
	text-align:center;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.quota_table_column_2
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.quota_table_column_3
{
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.quota_table_column_4
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.quota_table_column_5
{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
td.quota_table_column_6
{
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}



