config global global
	option save_directory /usr/data/restricter

config quota quotaA
	option is_ingress	0
		#whether we're monitoring outgoing vs incoming bandwidth
	option ip		10.10.10.3
		#may also be ALL to match everything
	option max_bandwidth	1000000
		#in bytes, so this is one meg
	option reset_interval		60
		# time_frame is either a number of secoonds
		# or "hourly", "daily", "weekly", "monthly"
		# or "yearly", difference between these and 
		# same number of hours is that  the words 
		# refer to resetting at beginning of
		# callendar day, week month etc, vs compared
		# to whenever daemon is started

config block blockA
	option is_ingress	0 
		#whether we're blocking outgoing or incoming packets
	#option remote_addr
	#option remote_port	80
	option local_addr	10.10.10.3
	#local_port
	#proto
	#dst_ip
	#ipp2p
	#layer7
	#option only_url  '"abc", "def" "wookidooki.com"'
	#option only_url_regex  "g.*le"
	option url  '"abc", "def" "wookidooki.com"'
	option url_regex  "g.*le"
		#url & url_regex don't make sense for ingress, only egress
		#unless you're running a web server
	#option weekdays_blocked	1,0,0,0,0,0,1
		#only saturday & sunday
	option hours_blocked	'1:20-15:21, 15:25-23:00'
		#Only allow access 6-7pm & 10pm-12:30am
	#option weekly_block_times "Mon 02:45-Thu 18:30,Fri 16:34-Fri19:28, Sat 11:45 - Sun 02:30"
	
	#option weekly_block_times	"Sat 11:45 - Mon 23:30"
		#mutually exclusive with using combination of weekdays_blocked & hours blocked

config block blockB
	option is_ingress	0
	option not_local_addr	10.10.10.3
	option not_local_port	90
	option not_remote_addr	90.90.90.90
	option not_remote_port	91
	option not_mark		0x777
	option not_connmark	0x778
	option not_url		'"garg"'
	option hours_blocked	'02:21-15:58'
	
