config 'ntpdrift'
	option 'freq' '0'

config 'ntpclient'
	option 'interval' '3600'

config 'ntpserver' 'cfg1'
	option 'port' '123'
	option 'hostname' '0.pool.ntp.org'

config 'ntpserver' 'cfg2'
	option 'port' '123'
	option 'hostname' '1.pool.ntp.org'

config 'ntpserver' 'cfg3'
	option 'port' '123'
	option 'hostname' '2.pool.ntp.org'
