config ntpserver
	option hostname '0.pool.ntp.org'
	option port     '123'

config ntpserver
	option hostname '1.pool.ntp.org'
	option port     '123'

config ntpserver
	option hostname '2.pool.ntp.org'
	option port     '123'

config ntpdrift
	option freq     '0'

config ntpclient
	option interval	3600
	#option count	10
