package openvpn

#################################################
# Sample to include a custom config file.       #
#################################################

config openvpn custom_config

	# Set to 1 to enable this instance:
	option enable 0

	# Include OpenVPN configuration
	option config /etc/openvpn/my-vpn.conf



