/*
  This Cascading Style Sheet is copyright © 2013 by BashfulBladder
  This page is part of the Demantoid theme for Gargoyle web interface running on routers.
  This page has GPL portions & public domain portions.
*/

/*      ------------- below are css definitions under the GPL, copied from the default theme  -----------------      */

button::-moz-focus-outer, ::-moz-focus-inner { border:none!important; }

p { margin:1em 0; }

.aligned_check_label
{
	vertical-align:middle;
}
.aligned_check
{
	padding:0;
	margin:0;
	vertical-align:middle;
	overflow:hidden;
}

.code
{
	position:relative;
	display:block;
	margin-left:10px;
	width:475px;
	background:#ffeab3;
	border:1px solid black;
	font-family:monospace;
	padding:5px;
}
.contributer
{
	font-size:115%;
	font-weight:bold;
	text-decoration:underline;
}

#control_column_container
{
	position:relative;
	width:450px;
	height:100px;
}
#plot1_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:0;
	width:180px;
	height:100px;
	margin-right:10px;
}
#plot2_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:180px;
	width:180px;
	height:100px;
	margin-right:10px;
}
#plot3_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:360px;
	width:180px;
	height:100px;
	margin-right:10px;
}
#plot1_title
{
	font-weight:bold;
	text-decoration:underline;
	color:blue;
}
#plot2_title
{
	font-weight:bold;
	text-decoration:underline;
	color:red;
}
#plot3_title
{
	font-weight:bold;
	text-decoration:underline;
	color:green;
}
.pseudo_link
{
	cursor:pointer;
	color:blue;
	text-decoration:underline;
	font-style:italic;
}
.bandwidth_title_text
{
	font-family:verdana, arial, sans-serif;
	margin-left:0;
	margin-bottom:5px;
	display:block;
	width:245px;
	float:left;
	text-align:left;
	font-size:14px;
	color:black;
}

.plot_header
{
	font-family:verdana, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#888AB8;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}

/*      ------------- above are css definitions under the GPL, copied from the default theme  -----------------      */
/*      ---------------------- below are public domain CSS definitions from Demantoid  ------------------------      */

select { margin:0 0 5px 0; height:21px; line-height:21px; color:#000; background:#9Ae595;
    border:1px solid #27292c; border-radius:3px;
    box-shadow:inset 0 0 1px #393939;
    -moz-box-shadow:inset 0 0 1px #393939;
    -webkit-box-shadow:inset 0 0 1px #393939;
}
select:focus { outline:none; }
select.select_disabled { color:#aaa; background:#cAe5c5;}

.default_button { position:relative; display:inline-block; margin:4px 9px; padding:1px 11px; text-decoration:none; cursor:pointer; color:#111; text-decoration:none; text-shadow:2px 2px 5px #fff, -1px -2px 5px #fff;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	background:#4AB825;
	background:-moz-linear-gradient(-90deg, #92d099 5%, #6fc178 15%, #39a844 35%, #66FF33 75%, #94FF94 100%, #ffffff);
	background:-webkit-gradient(linear, left top, left bottom, from(#92d099), to(#bbffbb), color-stop(0.15, #6fc178), color-stop(0.35, #39a844), color-stop(.75, #66FF33));
	box-shadow:0 0 1px 1px #666666, 0 2px 2px 3px #cccccc;
	
	transition:background .25s ease-out;
	-moz-transition:background .25s ease-out;
	-webkit-transition:background  .25s ease-out;
}
.default_button:hover { color:#2a2a2f; text-shadow:0 4px 3px #fff; border:1px solid #ccc; border-radius:5px;
    background:#bababf;
	background:-moz-linear-gradient(-90deg, #b2e0b9 5%, #9fd198 15%, #66FF33 35%, #94FF94 75%, #9fd198 100%, #ffffff);
	background:-webkit-gradient(linear, left top, left bottom, from(#b2e0b9), to(#cbefcb), color-stop(0.15, #9fd198), color-stop(0.35, #66FF33), color-stop(.75, #94FF94));
	box-shadow:0 0 1px 1px #666666, 0 2px 2px 3px #cccccc;
}
.default_button:active { color:#000; border:1px solid #dddde2; border-radius:5px;
	transition:none;
	-moz-transition:none;
	-webkit-transition:none;
	
	background:#cadacf;
	background:-moz-linear-gradient(-90deg, #D1f3DF 5%, #c2d9c9 15%, #CAd5D3 35%, #d6f7e3 75%, #e9faec 100%, #ffffff);
	background:-webkit-gradient(linear, left top, left bottom, from(#D1f3DF), to(#dfefe3), color-stop(0.15, #d6f7e3), color-stop(0.35, #CAd5D3), color-stop(.75, #e9faec));
	box-shadow:inset 0 1px 0 #c0c0d5, 0 2px 2px #d5d5f4, 0 0 4px 1px #35353f;
}
.default_button_disabled { position:relative; display:inline-block; margin:4px 9px; padding:1px 11px; color:#f1f1f5; text-decoration:none; border:1px solid #bbb; border-radius:5px;
  	transition:background .25s ease-out;
	-moz-transition:background .25s ease-out;
	-webkit-transition:background  .25s ease-out;
	
    background:#bababf;
    box-shadow:inset 0 2px 2px rgba(255,255,255,0.5), 0 0 1px 1px #666, 0 2px 2px 3px #ccc;
}
.default_button_disabled:hover { cursor:auto; }

[class*="table"] .default_button { margin:4px 9px; }
[class*="table"] .default_button_disabled { margin:4px 9px; }
[class*="table"] .default_button:active { margin:5px 9px 3px 9px; }
.even > td[class*="table"] .default_button { margin-top:2px; margin-bottom:3px; }
.odd > td[class*="table"] .default_button { margin-top:2px; margin-bottom:2px;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 0 0 2px #666, 0 2px 2px 3px #ccc, 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2), 0 0 5px 4px rgba(255,255,255,0.9); }

input.text_error { color:#f00; }
input.text_disabled { color:#aaa; }

#bottom_button_container { margin:5px 0 5px 10px; }
#update_container { margin-top:10px; margin-left:10px; display:none; }

.bottom_button, .big_button { height:42px; width:180px; margin:15px 35px 18px 0; padding:5px 10px 5px 10px; cursor:pointer; font-family:Verdana, Geneva, sans-serif; font-size:19px; color:#333; text-decoration:none; text-shadow:0 -2px 3px #fff;
	border:1px solid #999;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;

	background:#7AB825;
	background:-moz-linear-gradient(-90deg, #92d099 5%, #6fc178 15%, #39a844 35%, #66FF33 75%, #94FF94 100%, #fff);
	background:-webkit-gradient(linear, left top, left bottom, from(#92d099), to(#bbffbb), color-stop(0.15, #6fc178), color-stop(0.35, #39a844), color-stop(.75, #66FF33));
	box-shadow:0 0 0 2px #666, 3px 3px 12px 6px #ccc, 0 0 6px 4px #fff, 0 0 0 6px #666, 0 0 12px 8px #fff, 0 6px 2px 12px #555;
}
.big_button_disabled { height:42px; width:180px; margin:10px 40px 18px 0; padding:5px 10px 5px 10px; cursor:pointer; font-family:Verdana, Geneva, sans-serif; font-size:19px; color:#e3e3e7; text-decoration:none;
    border:1px solid #bbb;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background:#bababf;
	box-shadow:inset 0 2px 2px rgba(255,255,255,0.5), 0 0 0 2px #999, 3px 3px 12px 6px #bbb, 0 0 6px 4px #ddd, 0 0 0 6px #999, 0 0 12px 8px #ddd;
}
.big_button_disabled:hover { cursor:auto; }
fieldset > .bottom_button { margin-left:20px; }

.bottom_button:hover, .big_button:hover { color:#555; text-shadow:0 2px 2px #ddd;
	background:#9Ae595;
    background:-moz-linear-gradient(-90deg, #92d099 5%, #6fc178 15%, #6fc178 35%, #66FF33 75%, #94FF94 100%, #ffffff);
	background:-webkit-gradient(linear, left top, left bottom, from(#92d099), to(#bbffbb), color-stop(0.15, #6fc178), color-stop(0.35, #6fc178), color-stop(.75, #66FF33));
}
.bottom_button:active, .big_button:active { padding:6px 10px 4px 10px;
	background:-webkit-repeating-radial-gradient(-2px, circle, #A3FF85, #66FF33 5%, #A3FF85 10%);
	box-shadow:inset 0 3px #555555, 0 0 0 2px #666, 3px 3px 12px 6px #ccc, 0 0 6px 4px #fff, 0 0 0 6px #666, 0 0 12px 8px #fff, 0 6px 2px 10px #555;
}

legend { width:auto; height:43px; line-height:30px; padding:10px 5px 0 30px; background:#4AB825; color:#fff;
	font-size:18px; font-family:verdana, arial, sans-serif; text-align:center; text-shadow:2px 2px #000, 4px 4px 8px #333;
	box-shadow:5px 5px 12px 2px #999;
	
	-webkit-background-size:10px 10px;
    -moz-background-size:10px 10px;
    background-size:10px 10px; /* http://lea.verou.me/demos/css3-patterns.html Controls the size of the stripes */
    
	background-color:#4AB825;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(99, 99, 99, .05)), color-stop(.9, transparent), to(transparent));
    background-image:-webkit-linear-gradient(rgba(99, 99, 99, ..05) 50%, transparent 50%, transparent);
    background-image:-moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:-ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:-o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

legend:before { position:relative; float:right; display:block; height:0; width:0; margin-top:30px; top:-39px; right:-29px; content:"";
    border-bottom:17px solid #3A9825; border-right:24px solid transparent;
}

fieldset { clear:both; width:850px; margin:10px 0 40px 0; padding:15px 0 10px 7px; border:0 solid #000;
    font-family:verdana, arial, sans-serif; font-size:12px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
    box-shadow:0 0 0 2px #666, 3px 3px 12px 6px #ccc, 0 0 6px 4px #fff, 0 0 0 6px #666, 0 0 12px 8px #fff;
    
	background:#f4f4f9;
	background:-moz-linear-gradient(center top, #e1e1e5, #fff 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e5), to(#fff));
}
fieldset:after { margin:5px; }
fieldset div { display:block; margin-top:5px; margin-bottom:5px; clear:left; font:inherit; }
fieldset input { font:inherit; }
fieldset input:focus { background:#fffff0; }
fieldset select { font:inherit; }
fieldset label { font:inherit; }

fieldset#bandwidth_graphs { width:700px; margin-right:200px; }
fieldset#bandwidth_graphs > legend { margin-right:200px; }
fieldset + div + div + fieldset { margin-top:30px; }
fieldset + div { position:relative; display:inline; }
fieldset#edit_container { margin-left:10px; margin-right:10px; width:auto; }
fieldset#edit_container > legend { }

fieldset:first-of-type > p:nth-last-child(3):after {
	content:"\a\a Demantoid theme by BashfulBladder 2013\a Daimonion typeface copyright 2013 Clemens Bergmann; used by permission";
	white-space:pre;
	color:#4AB825;
}

.leftcolumn { display:block; float:left; clear:left; width:240px; margin-left:5px; margin-right:5px; }
.rightcolumn { display:inline; }
.rightcolumnonly { display:block; margin-left:250px; }
.rightcolumn+.rightcolumnonly { padding:5px 0 5px 0; }
.rightcolumnindent { display:inline; margin-left:25px; }
.nocolumn { display:block; float:left; margin-left:5px; margin-right:5px; }
.narrowleftcolumn { display:block; float:left; clear:left; width:125px; margin-left:5px; margin-right:5px; }
.widerightcolumnonly { display:block; margin-left:135px; }
.middlecolumn { display:block; float:left; width:110px; margin-right:10px; margin-bottom:5px; }
.indent { display:block; margin-left:25px; }
.wideleftcolumn { display:block; float:left; width:300px; margin-left:5px; margin-right:5px; }
.farrightcolumnonly { display:block; margin-left:310px; }
.bottom_gap { margin-bottom:30px; }

.internal_divider { display:block; height:3px; margin:20px 6em 20px 6em;
	background:#29A329;
	background:-moz-linear-gradient(left,  #29A329 0%, #009900 50%, #29A329 100%);
	background:-webkit-linear-gradient(left,  #29A329 0%, #009900 50%, #29A329 100%);
	background:-o-linear-gradient(left,  #29A329 0%, #009900 50%, #29A329 100%);
	background:-ms-linear-gradient(left,  #29A329 0%, #009900 50%, #29A329 100%);
	background:linear-gradient(to right,  #29A329 0%, #009900 50%, #29A329 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#29A329', endColorstr='#009900',GradientType=1 ); /* IE6-9 */
}

table { border-spacing:0; border-collapse:collapse; }
tr.table_row_add { text-align:center; }
tr.table_row_header { border-bottom:1px solid black; text-align:center; }
tr.table_row_header_disabled { border-bottom:1px solid black; text-align:center; }
tr.odd { background-color:#BECEBE; padding:20px; 
	-webkit-background-size:10px 10px;
    -moz-background-size:10px 10px;
    background-size:10px 10px; /* http://lea.verou.me/demos/css3-patterns.html Controls the size of the stripes */
    
	background-color:#AED6A3;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(99, 99, 99, .05)), color-stop(.9, transparent), to(transparent));
    background-image:-webkit-linear-gradient(rgba(99, 99, 99, ..05) 50%, transparent 50%, transparent);
    background-image:-moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:-ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:-o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image:linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

tr:first-child+tr.odd { border-top:1px solid black; } /* line after table header, before odd row */
tr.even { background-color:#fff; padding:20px; }
/*tr.even:last-child { border-bottom:1px solid #BECEBE; }*/
tr.odd:last-child, tr.even:last-child { border-bottom:1px solid black; }
tr.disabled_odd { background-color:#e1e1e1; color:#606060; }
tr.disabled_even { background-color:#f6f6fc; color:#606060; }
tr.disabled_odd:last-child, tr.disabled_even:last-child { border-bottom:1px solid transparent; }
th { padding:2px 5px 2px 5px; font-style:italic; font-weight:normal; text-align:center; }
td { padding:5px; }	
	
td[class^="total_bandwidth_table_column"] { text-align:right; padding-left:1em; padding-right:1em; }
td[class^="static_ip_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="portf_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="portf_range_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td.upnp_table_column_1 { text-align:left; }
td.upnp_table_column_2 { text-align:center; }
td.upnp_table_column_3 { text-align:right; }
td[class^="qos_class_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td.qos_class_table_column_1 { text-align:left; }
td[class^="qos_rule_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td.qos_rule_table_column_1 { text-align:left; }
td[class^="ddns_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td.ddns_table_column_1 { text-align:left; }
td[class^="connection_table_column"] { text-align:left; padding-right:4em; }
td.connection_table_column_1 { text-align:center; padding-left:1em; }
td[class^="mac_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="wifi_wds_mac_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="bridge_wds_mac_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="bridge_dns_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="lan_dns_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="ip_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="webmon_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="webmon_domain_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="webmon_search_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="rule_applies_to_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="rule_remote_ip_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="rule_url_match_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="rule_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="exception_applies_to_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="exception_remote_ip_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="exception_url_match_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="exception_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="quota_ip_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="quota_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="quota_usage_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="lease_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="wifi_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td.wifi_table_column_3 { border-right:1px solid #454545; }
td[class^="active_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="active_route_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="static_route_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="bandwidth_distribution_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }
td[class^="bandwidth_table_column"] { text-align:center; padding-left:1em; padding-right:1em; }

table[id*="timeTable"] > tbody > tr { line-height:12px; }
td[class^="station_table_column"] { text-align:center; padding-left:1em; padding-right:1em; width:auto; }

@-moz-document url-prefix() {
    legend { margin-left:35%; } /* Firefox won't center the legend with width:auto */
    legend { margin-top:-53px; margin-bottom:-53px;} /* works, but text runs right over the bottom of the legend */
    fieldset:before {display:block; height:0; width:0; margin-top:5px; top:-5px; right:-29px; content:""; border-bottom:17px solid transparent; border-right:24px solid transparent; margin-bottom:5px;} /* spacer under legend */
    fieldset + fieldset { margin-top:60px; }
}

#tabs ul { margin-bottom:1px!important; }

body > :nth-child(2), body > :nth-child(3) { margin-bottom:13px; }
