/*
 * This program is copyright © 2008-2011 Eric Bishop and is distributed under the terms of the GNU GPL
 * version 2.0 with a special clarification/exception that permits adapting the program to
 * configure proprietary "back end" software provided that all modifications to the web interface
 * itself remain covered by the GPL.
 * See http://gargoyle-router.com/faq.html#qfoss for more information
 */


button *
{
        border:none !important;
}

input,
input *
{
        outline:none !important;
}

button::-moz-focus-outer,
::-moz-focus-inner
{
        border:none!important;
}


a
{
	color:#211679;
}

a:visited
{
	color:#a400b3;
}

a:active
{
	outline:none;
}

a:focus
{
	outline:none;
}

legend
{
	font-family:verdana, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#888AB8;
}

fieldset
{
	width:500px;
	margin:10px;
	padding:10px;
	border:1px;
	border-style:solid;
	border-color:#888AB8;
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}

fieldset div
{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	clear:left;
}

fieldset input
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}

fieldset select
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}

fieldset label
{
	font-family:verdana, arial, sans-serif;
	font-size:10px;
}

.leftcolumn
{
	display:block;
	float:left;
	clear:left;
	width:200px;
	margin-left:5px;
	margin-right:5px;
}

.rightcolumn
{
	display:inline;
}

.rightcolumnonly
{
	display:block;
	margin-left:210px;
}

.rightcolumnindent
{
	display:inline;
	margin-left:25px;

}

.nocolumn
{
	display:block;
	float:left;
	margin-left:5px;
	margin-right:5px;
}

.narrowleftcolumn
{
	display:block;
	float:left;
	clear:left;
	width:125px;
	margin-left:5px;
	margin-right:5px;
}

.widerightcolumnonly
{
	display:block;
	margin-left:135px;
}

.middlecolumn
{
	display:block;
	float:left;
	width:110px;
	margin-right:10px;
	margin-bottom:5px;
}

.indent
{
	display:block;
	margin-left:25px;
}

.wideleftcolumn
{
	display:block;
	float:left;
	width:250px;
	margin-left:5px;
	margin-right:5px;
}

.farrightcolumnonly
{
	display:block;
	margin-left:260px;
}

.internal_divider
{
	display:block;
	height:3px;
	width:175px;
	margin-bottom:20px;
	margin-top:20px;
	margin-left:5px;
	border-top:1px;
	border-left:0;
	border-right:0;
	border-bottom:0;
	border-style:solid;
	border-color:#888AB8;
}

.bottom_gap
{
	margin-bottom:30px;
}

.aligned_check_label
{
	vertical-align:middle;
}

.aligned_check
{
	padding:0;
	margin:0;
	vertical-align:middle;
	overflow:hidden;
}

.code
{
	position:relative;
	display:block;
	margin-left:10px;
	width:475px;
	background:#ffeab3;
	border:1px solid #000;
	font-family:monospace;
	padding:5px;
}

.contributer
{
	font-size:115%;
	font-weight:bold;
	text-decoration:underline;
}

p
{
	margin:1em 0;
}

table
{
	border-spacing:0;
	border-collapse:collapse
}

tr.table_row_add
{
	text-align:center;
}

tr.table_row_header
{
	border-bottom:1px solid #000;
	text-align:center;
}

tr.table_row_header_disabled
{
	border-bottom:1px solid #000;
	text-align:center;
}

tr.odd
{
	border:1px solid #000;
	background-color:#dadaff;
}

tr.even
{
	border:1px solid #000;
	background-color:#fff;
}

tr.disabled_odd
{
	border:1px solid #000;
	color:#606060;
	background-color:#e1e1e1;
}

tr.disabled_even
{
	border:1px solid #000;
	color:#606060;
	background-color:#fff;
}

th
{
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	font-weight:normal;
	font-style:italic;
}

td
{
	padding-left:5px;
	padding-right:5px;
}

input.default_button
{
	text-align:center;
	background:url("images/default_button_gradient_normal.png") center top repeat-x;
	border-bottom:1px solid #737582;
	border-right:1px solid #737582;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	color:#000;
	margin:5px;
	cursor:pointer;
}

input.default_button:hover
{
	background:url("images/default_button_gradient_pressed.png") center top repeat-x;
	color:#555;
	border-top:1px solid #737582;
	border-left:1px solid #737582;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	margin:5px;
}

input.default_button:active
{
	background:url("images/default_button_gradient_pressed.png") center top repeat-x;
	color:#555;
	border-top:1px solid #737582;
	border-left:1px solid #737582;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	margin:5px;
}

input.default_button_disabled
{
	text-align:center;
	background:url("images/default_button_gradient_disabled.png") center top repeat-x;
	border-bottom:1px solid #737582;
	border-right:1px solid #737582;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	color:#808080;
	margin:5px;
	cursor:auto;
}

input.default_button_disabled:hover
{
	text-align:center;
	background:url("images/default_button_gradient_disabled.png") center top repeat-x;
	border-bottom:1px solid #737582;
	border-right:1px solid #737582;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	color:#808080;
	margin:5px;
	cursor:auto;
}

input.big_button
{
	width:187px;
	height:45px;
	background:url("images/big_button_normal.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#333;
}

input.big_button:hover
{
	width:187px;
	height:45px;
	background:url("images/big_button_highlighted.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#000;
}

input.big_button:active
{
	width:187px;
	height:45px;
	background:url("images/big_button_pressed.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#555;
}

input.big_button_disabled
{
	text-align:center;
	width:187px;
	height:45px;
	background:url("images/big_button_disabled.png") center top no-repeat;
	border:none;
	font-weight:bold;
	font-size:16px;
	color:#808080;
	cursor:auto;
}

input.big_button_disabled:hover
{
	text-align:center;
	width:187px;
	height:45px;
	background:url("images/big_button_disabled.png") center top no-repeat;
	border:none;
	font-weight:bold;
	font-size:16px;
	color:#808080;
	cursor:auto;
}

input.text_error
{
	color:#f00;
}

input.text_disabled
{
	color:#aaa;
}

select.select_disabled
{
	color:#aaa;
}

#bottom_button_container
{
	margin-top:10px;
	margin-left:10px;
}

#update_container
{
	margin-top:10px;
	margin-left:10px;
	display:none;
}

input.bottom_button
{
	width:187px;
	height:45px;
	background:url("images/big_button_normal.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#333;
}

input.bottom_button:hover
{
	width:187px;
	height:45px;
	background:url("images/big_button_highlighted.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#000;
}

input.bottom_button:active
{
	width:187px;
	height:45px;
	background:url("images/big_button_pressed.png") center top no-repeat;
	border:none;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	color:#555;
}

#control_column_container
{
	position:relative;
	width:450px;
	height:100px;
}

#plot1_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:0;
	width:150px;
	height:100px;
	margin-right:10px;
}

#plot2_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:150px;
	width:150px;
	height:100px;
	margin-right:10px;
}

#plot3_control_column
{
	position:absolute;
	display:block;
	text-align:left;
	left:300px;
	width:150px;
	height:100px;
	margin-right:10px;
}

#plot1_title
{
	font-weight:bold;
	text-decoration:underline;
	color:blue;
}

#plot2_title
{
	font-weight:bold;
	text-decoration:underline;
	color:red;
}

#plot3_title
{
	font-weight:bold;
	text-decoration:underline;
	color:green;
}

.pseudo_link
{
	cursor:pointer;
	color:blue;
	text-decoration:underline;
	font-style:italic;
}

.bandwidth_title_text
{
	font-family:verdana, arial, sans-serif;
	margin-left:0;
	margin-bottom:5px;
	display:block;
	width:245px;
	float:left;
	text-align:left;
	font-size:14px;
	color:#000;
}

.plot_header
{
	font-family:verdana, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#888AB8;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}

td.total_bandwidth_table_column_1
{
	text-align:right;
	border:1px solid #000;
}

td.total_bandwidth_table_column_2
{
	text-align:right;
	border:1px solid #000;
}

td.total_bandwidth_table_column_3
{
	text-align:right;
	border:1px solid #000;
}

td.static_ip_table_column_1
{
	text-align:center;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_ip_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_ip_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_ip_table_column_4
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_ip_table_column_5
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_ip_table_column_6
{
        border-top:1px solid #000;
        border-right:1px solid #000;
        border-bottom:1px solid #000;
}

td.portf_table_column_1
{
	max-width:30px;
	text-align:center;
	border:1px solid #000;
}

td.portf_table_column_2
{
	text-align:center;
	border:1px solid #000;
}

td.portf_table_column_3
{
	text-align:center;
	border:1px solid #000;
}

td.portf_table_column_4
{
	border:1px solid #000;
}

td.portf_table_column_5
{
	text-align:center;
	border:1px solid #000;
}

td.portf_table_column_6
{
	border:1px solid #000;
}

td.portf_table_column_7
{
	border:1px solid #000;
}

td.portf_table_column_8
{
	border:1px solid #000;
}

td.portf_range_table_column_1
{
	max-width:30px;
	text-align:center;
	border:1px solid #000;
}

td.portf_range_table_column_2
{
	text-align:center;
	border:1px solid #000;
}

td.portf_range_table_column_3
{
	text-align:center;
	border:1px solid #000;
}

td.portf_range_table_column_4
{
	border:1px solid #000;
}

td.portf_range_table_column_5
{
	text-align:center;
	border:1px solid #000;
}

td.portf_range_table_column_6
{
	border:1px solid #000;
}

td.portf_range_table_column_7
{
	border:1px solid #000;
}

td.portf_range_table_column_8
{
	border:1px solid #000;
}

td.upnp_table_column_1
{
	text-align:left;
	border:1px solid #000;
}

td.upnp_table_column_2
{
	text-align:center;
	border:1px solid #000;
}

td.upnp_table_column_3
{
	text-align:right;
	border:1px solid #000;
}

td.qos_class_table_column_1
{
	text-align:center;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_3
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_4
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_5
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_6
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_7
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_class_table_column_8
{
	text-align:center;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_3
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_4
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_5
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.qos_rule_table_column_6
{
	text-align:center;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_3
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_4
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_5
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ddns_table_column_6
{
	text-align:center;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.connection_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.connection_table_column_2
{
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	width:15em;
}

td.connection_table_column_3
{
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	width:10em;
}

td.connection_table_column_4
{
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	width:7em;
}

td.connection_table_column_5
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.mac_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.mac_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_wds_mac_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_wds_mac_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bridge_wds_mac_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bridge_wds_mac_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bridge_dns_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bridge_dns_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lan_dns_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lan_dns_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ip_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.ip_table_column_2
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.webmon_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.webmon_table_column_2
{
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.webmon_table_column_3
{
	text-align:left;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

/*
td.rule_applies_to_table (2 cells no dividers)
td.rule_remote_ip_table (2 cells no dividers)
td.rule_url_match_table (4 cells no dividers)
td.rule_restriction_table (4 cells no dividers)
*/
td.rule_applies_to_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_applies_to_table_column_2
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_remote_ip_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;

}

td.rule_remote_ip_table_column_2
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_url_match_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;

}

td.rule_url_match_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_url_match_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_url_match_table_column_4
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.rule_table_column_4
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_applies_to_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_applies_to_table_column_2
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_remote_ip_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;

}

td.exception_remote_ip_table_column_2
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_url_match_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;

}

td.exception_url_match_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_url_match_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_url_match_table_column_4
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.exception_table_column_4
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_ip_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_ip_table_column_2
{
	text-align:right;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_1
{
	text-align:center;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_2
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_3
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_4
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_5
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_table_column_6
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_usage_table_column_1
{
	text-align:center;
	padding-right:15px;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_usage_table_column_2
{
	text-align:center;
	padding-right:15px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_usage_table_column_3
{
	text-align:right;
	padding-right:15px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_usage_table_column_4
{
	text-align:right;
	padding-right:15px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.quota_usage_table_column_5
{
	text-align:right;
	padding-right:15px;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lease_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lease_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lease_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.lease_table_column_4
{
	text-align:right;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_table_column_3
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.wifi_table_column_4
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	text-align:right;
}

td.wifi_table_column_5
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	text-align:right;
}

td.active_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_table_column_4
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_table_column_5
{
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_table_column_6
{
	text-align:center;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_route_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_route_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_route_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.active_route_table_column_4
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_route_table_column_1
{
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_route_table_column_2
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_route_table_column_3
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_route_table_column_4
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.static_route_table_column_5
{
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_1
{
	text-align:left;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_2
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_3
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_4
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_5
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_6
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

td.bandwidth_distribution_table_column_7
{
	text-align:right;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-right:1px solid #000;

}

td.bandwidth_table_column_1
{
	text-align:right;
	border:1px solid #000;
}

td.bandwidth_table_column_2
{
	text-align:right;
	border:1px solid #000;
}

td.bandwidth_table_column_3
{
	text-align:right;
	border:1px solid #000;
}

td.bandwidth_table_column_4
{
	text-align:right;
	border:1px solid #000;
}
