
config 'global' 'global'

	#enabled = 0, disabled
	#enabled = 1, enabled for all hosts
	#enabled = 2, enabled for hosts in enabled_ip_file
	option enabled			'0'

	option block_unsupported_proto	'0'
	option zone			'lan'
	option enabled_ip_file		'/etc/tor.ips'
	option trans_port		'9040'
	option dns_port			'9053'
	option control_port		'9051'
